body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100%;
    color: #444;
    font: 100%/30px Century Gothic, Arial;
}

#title{
    width: 50%;
    margin: 30px auto;
    font-size: 50px;
    position: center;
    color: #fff;
    font-family: Century Gothic, Arial;
    text-shadow: 0 3px 0 #444;

}

H1
{
    text-align: center;
}
H2
{
    text-align: center;
}

.knop
{
    height: 100%;
    color: #444;
    font-family: Century Gothic, Arial;
    text-shadow: 0 1px 0 #fff;
}

table
{
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

a
{
    font-size: 16px;
    text-decoration: none;
}


a:visited{
    color:#444;
    text-decoration: none;
}
a:hover{
    color:#444;
    text-decoration: none;
}

a:active{
    color:#444;
    text-decoration: none;

}

th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    font-size: 16px;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    font-size: 16px;
    transition: all 300ms;
    text-align: center;
}


tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

